.playing-area {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}

.playing-area__item {
  width: 20%;
  height: 124px;
  margin: 5px;
  background-color: #92e8e5;
  border: 1px solid #226b69;
  border-radius: 5px;
}


.counter {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin: auto;
}

.activeBlock {
  background-image: url('https://github.com/netology-code/ahj-homeworks/blob/simplification/dom/pic/goblin.png?raw=true');
  background-position: center;
  background-size: contain;
}
